{
    "printWidth": 500,
    "semi": false,
    "tabWidth": 4,
    "singleQuote": true,
    "trailingComma": "es5",
    "quoteProps": "as-needed",
    "bracketSpacing": true,
    "bracketSameLine": false,
    "useTabs": false,
    "plugins": [
        "prettier-plugin-tailwindcss"
    ]
}